<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Your post for <%= @post.title %> will be expiring soon!</h1>
<p>Click here to renew your post for another 30 days</p>
</body>
</html>