<% posts.each do |post| %>
    <div class="col-sm-4 col-md-4 col-centered">
      <h4 class="ad-item-title"><%=post.title%></h4>
      <a class="pull-left" href="#">
        <%= image_tag post.image.url(:thumb), :class => 'featured-pic' %>
      </a>
      <p class="ad-item-disc"><%=post.description%></p>
      <p><%=format_timesince post.updated_at%></p>
    </div>
<% end %>