<div id="profile-posts">
  <table style="margin-bottom:0px;" class="table table-striped">
    <thead>
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Discription</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>01/08/2014</td>
      <td>Kevin's Book</td>
      <td>This is the discription of my book. It is a really good book. It has a really long discription so I can test the table. This is the discription of my book. It is a really good book. It has a really long discription so I can test the table. This is the discription of my book. It is a really good book. It has a really long discription so I can test the table.</td>
      <td>Edit</td>
      <td>Delete</td>
    </tr>
    <tr>
      <td>01/08/2014</td>
      <td>Kevin's Book</td>
      <td>This is the discription of my book. It is a really good book. It has a really long discription so I can test the table. This is the discription of my book. It is a really good book. It has a really long discription so I can test the table. This is the discription of my book. It is a really good book. It has a really long discription so I can test the table.</td>
      <td>Edit</td>
      <td>Delete</td>
    </tr>
    </tbody>
  </table>
</div>