<div id="classifieds-container" class="container">
  <div class="row">

    <div class="col-md-2">
      <%= render partial: 'classified_categories/filter_box', locals: {categories: @classified_categories} %>
    </div>
    <div class="col-md-10">
      <!-- Individual add item -->
      <div id="post-grid" class="row">
        <%= render partial: 'classified_posts/posts', locals: {posts: @classified_posts}  %>
      </div>
    </div>
  </div>
</div>
<script>
    function filter(target){
        $.get(target,
                {category: $('a',$('.active','#category-filter')).data('category'), sort: $('a',$('.active','#sort-filter')).data('sort'), price_low: $('#low').val(), price_high:$('#high').val()}, null, "script")
    }
    $(document).ready(function () {
        $('#category-filter').on('click', 'a', function(){
            console.log('triggered');
            $('.active', '#category-filter').removeClass('active');
            $(this).closest('li').addClass('active');
            filter('/posts'+$('a.active','.pagination').text());
        });
    });
    $(document).ready(function () {
        $('#sort-filter').on('click', 'a', function(){
            console.log('triggered');
            $('.active', '#sort-filter').removeClass('active');
            $(this).closest('li').addClass('active');
            filter('/posts'+$('a.active','.pagination').text());
        });
    });
    $(document).ready(function () {
        $('#price-go').on('click', function(){
            filter($('a.active', '.pagination').data('target'));
        });
    });
    $(document).ready(function () {
        $('a','.pagination').on('click', function(e){
            console.log('button-clicked')
            filter($(this).data('target'));
            e.preventDefault();
        });
    });
</script>