<div id="classifieds-container" class="container">
  <div class="row">

    <div class="col-md-2">
      <%= render partial: 'classified_categories/filter_box', locals: {categories: @classified_categories} %>
    </div>
    <div class="col-md-10">
      <!-- Individual add item -->
      <div id="post-grid" class="row">
        <%= render partial: 'classified_posts/posts', locals: {posts: @classified_posts}  %>
      </div>
    </div>
  </div>
</div>
<script>
    function filter(){
        $.get('/posts',
                { category: 2}, null, "script")
    }
</script>