<% messages.each do |message| %>
    <% if message.user.id == current_user.id %>
        <div class="row conversation-message">
            <p  class="conversation-text conversation-sent pull-right"><%= message.body %></p>
        </div>
    <% else %>
        <div class="row conversation-message">
            <p class="conversation-text conversation-received pull-left"><%= message.body %></p>
        </div>
    <% end %>
<% end %>
<div class="row">
	<%= render partial: '/messages/form', :locals =>{conversation: messages.first.conversation}%>
</div>