<div id="profile-messages" class="row">
  <div class="col-md-3">
  	<div></div>
    <%= render partial: 'list', locals: {conversations: conversations }%>
  </div>
  <div class="col-md-9">
    <div id="conversation-show">
    <%= render partial: 'show', locals: {messages: conversations.first.messages} %>
    </div>
  </div>
</div>