<div class="container">
  <div id="profile-container">
    <h3>Kevin Eger</h3>
    <ul class="nav nav-tabs" role="tablist">
      <li><a href="#">Posts</a></li>
      <li><a href="#">Profile</a></li>
      <li class="active"><a href="#">Messages</a></li>
      <li class="pull-right"><%= button_to 'Create a Post',new_classified_post_path, :id=> "", :class=> "btn btn-md btn-blue", :method=> "get" %></li>
    </ul>

    <div class="profile-container-inner">
      <div style="height:700px" id="profile-messages">

      </div>

    </div>

  </div>
</div>
