<div class="col-sm-4 col-md-4 col-centered">
  <h4 class="ad-item-title">Ad Item 3.....</h4>
  <a class="pull-left" href="#">
    <%= image_tag("picolasCage.jpg", :class => 'featured-pic') %>
  </a>
  <p class="ad-item-disc">Ad Item Discription.... Blah Blah Blah Ad Item Discription.... Blah Blah Blah Ad Item Discription.... Blah Blah Blah Ad Item Discription.... Blah Blah Blah Ad Item Discription.... Blah Blah Blah Ad Item Discription.... Blah Blah Blah Ad Item Discription....</p>
</div>