
<div class="row">
  <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
      <li><a href="#"><strong>Classifieds</strong></a></li>
    </ul>
    <ul class="nav nav-sidebar">
      <li class="active"><a href="#">All Categories</a></li>
      <% @classified_categories.each do |category|%>
        <li><a href="#"><%=category.name %></a></li>
      <% end%>
    </ul>
  </div>
  <div class="col-sm-9 col-md-10 main">
    <div class="row">
      <h1 class="page-header">All Categories</h1>
      <div class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
    <!-- Individual add item -->
    <div class="row">
      <div class="col-sm-4 col-md-4 col-centered">
        <h4 class="ad-item-title">Ad Item 1.....</h4>
        <a class="pull-left" href="#">
          <img class = "featured-pic" src="pictures/picolasCage.jpg">
        </a>
        <p class="ad-item-disc">Ad Item Discription.... Blah Blah Blah Ad Item Discription.... Blah Blah Blah Ad Item Discription.... Blah Blah Blah Ad Item Discription.... Blah Blah Blah Ad Item Discription.... Blah Blah Blah Ad Item Discription.... Blah Blah Blah Ad Item Discription....</p>
      </div>

      <div class="col-sm-4 col-md-4 col-centered">
        <h4 class="ad-item-title">Ad Item 2.....</h4>
        <a class="pull-left" href="#">
          <img class = "featured-pic" src="pictures/picolasCage.jpg">
        </a>
        <p class="ad-item-disc">Ad Item Discription.... Blah Blah Blah Ad Item Discription.... Blah Blah Blah Ad Item Discription.... Blah Blah Blah Ad Item Discription.... Blah Blah Blah Ad Item Discription.... Blah Blah Blah Ad Item Discription.... Blah Blah Blah Ad Item Discription....</p>
      </div>

      <div class="col-sm-4 col-md-4 col-centered">
        <h4 class="ad-item-title">Ad Item 3.....</h4>
        <a class="pull-left" href="#">
          <img class = "featured-pic" src="pictures/picolasCage.jpg">
        </a>
        <p class="ad-item-disc">Ad Item Discription.... Blah Blah Blah Ad Item Discription.... Blah Blah Blah Ad Item Discription.... Blah Blah Blah Ad Item Discription.... Blah Blah Blah Ad Item Discription.... Blah Blah Blah Ad Item Discription.... Blah Blah Blah Ad Item Discription....</p>
      </div>
    </div>
  </div>
</div>