  <div id="classifieds-container" class="container">
    <div class="row">

      <div class="col-md-2">
        <div class="box-nav">
          <!-- Category Menu -->
          <div class="row">
            <div class="menu visible-md visible-lg">
              <ul id="menu-list">
                <li class="active"><%= link_to 'All Categories', from_category_classified_posts_path(:cat_id => nil), :remote => true %></li>
                <% @classified_categories.each do |category|%>
                  <li><%= link_to category.name, from_category_classified_posts_path(:cat_id => category.id), :remote => true %></li>
                <% end%>
              </ul>
            </div><!-- /.sidebar-menu -->
          </div>
          <!-- Sort Menu -->
          <div class="row">
            <div class="menu visible-md visible-lg">
              <ul id="menu-list">
                <li class="active"><a href="#">Date: Most Recent</a></li>
                <li class=""><a href="#">Price: Lowest First</a></li>
                <li class=""><a href="#">Price: Highest First</a></li>
              </ul>
            </div><!-- /.sort-menu -->
          </div>
          <!-- Price Menu -->
          <div class="row">
            <div class="menu visible-md visible-lg">
              <ul id="menu-list">
                <div class="form-inline price-box">
                  <input id="low" type="text" class="input-mini" placeholder="Low">
                  ~
                  <input id="high" type="text" class="input-mini" placeholder="High">
                  <a href="#"><i id="price-go" class="glyphicon glyphicon-search price-search" type="submit"></i></a>
                </div>
              </ul>
            </div><!-- /.price-menu -->
          </div>
          <!-- Pagination -->
          <div class="row col-centered">
            <ul class="pagination">
              <li><a href="#">&laquo;</a></li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">&raquo;</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-10">
        <!-- Individual add item -->
        <div id="post-grid" class="row">
          <%= render partial: 'classified_posts/posts', locals: {category: nil,posts: @posts.paginate(:page => 1)}  %>
        </div>
      </div>
    </div>
  </div>