<%= link_to post , :title => "HTML &amp" do %>
  <div class="col-md-4" style="background: white; height: 150px">
    <div class="row">
      <%= image_tag post.image.url(:thumb), :class => 'pic-single center-pic'%>
    </div>
    <div class="row">
      <h4 class="featured-title"><%= truncate(post.title, :length => 10)%></h4>
    </div>
  </div>
<% end %>