<%= link_to post , :title => "HTML &amp" do %>
  <div class="col-md-4">
    <div class="row">
      <%= image_tag post.image.url(:small), :class => 'pic-single center-pic'%>
    </div>
    <div class="row">
      <h4 class="featured-title"><%= truncate(post.title, :length => 25)%></h4>
    </div>
  </div>
<% end %>