<div class="container">
<div class="row" style="padding-top:10%;">
    <div class="col-lg-10 col-centered">
      <%= image_tag("logoBGNewMoto.png",:style => 'position:relative; width: 100%;') %>
      <div class="grey-container">
        <%= form_tag(main_app.classified_posts_path, method: "get") do %>
        <div id="home-search" class="input-group input-group-lg">
          <input name="search_text" type="text" class="form-control search-field" style="border:2px solid #004070" placeholder="Search U of C Textbooks">
          <span class="input-group-btn">
            <button class="btn btn-default btn-home-search" type="submit">Search</button>
          </span>
        </div>
        <% end %>
      </div>
    </div>
  </div>

<div style="position:absolute; left:50%; bottom:20px;">
  <div class="btn-group" style="position:relative; left:-50%;">
    <a class="btn btn-default btn-lg" title="Like on Facebook" href="http://www.facebook.com/myunitrade">
      <i class="fa fa-thumbs-o-up fa-lg fb"></i>
    </a>
    <button class="btn btn-default btn-lg disabled">Like and Follow</button>
    <a class="btn btn-default btn-lg" title="Follow on Twitter" href="http://www.twitter.com/myunitrade">
      <i class="fa fa-twitter fa-lg tw"></i>
    </a>
  </div>
</div>
</div>

</div>