<!-- Search Field -->
<div class="container">

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div style="padding-top:150px;" class="row">
        <h1>Search U of C Textbooks</h1> 
        <div id="home-search" class="input-group input-group-lg">
          <input id="featured-form" type="text" class="form-control ">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Search</button>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <!-- Featured Carousel -->
      <div id="myCarousel" class="featured-carousel carousel slide" data-ride="carousel">
        <!-- CAROUSEL INDICATORS -->
        <!-- <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol> -->

        <div class="carousel-inner">
          <div class="item active">
            <div class="col-md-10 col-md-offset-1">
              <a id="post_X" title="HTML &amp; CSS" href="#">
                <div class="col-md-4">
                  <div class="row">
                    <img class="featured-pic center-pic" src="/assets/htmlcss.jpg">
                  </div>
                  <div class="row">
                    <h4 class="featured-title">HTML &amp; CSS</h4>
                  </div>
                </div>
              </a>
              <a id="post_X" title="HTML &amp; CSS" href="#">
                <div class="col-md-4">
                  <div class="row">
                    <img class="featured-pic center-pic" src="/assets/htmlcss.jpg">
                  </div>
                  <div class="row">
                    <h4 class="featured-title">HTML &amp; CSS</h4>
                  </div>
                </div>
              </a>
              <a id="post_X" title="HTML &amp; CSS" href="#">
                <div class="col-md-4">
                  <div class="row">
                    <img class="featured-pic center-pic" src="/assets/htmlcss.jpg">
                  </div>
                  <div class="row">
                    <h4 class="featured-title">HTML &amp; CSS</h4>
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div class="item">
            <div class="col-md-10 col-md-offset-1">
              <a id="post_X" title="HTML &amp; CSS" href="#">
                <div class="col-md-4">
                  <div class="row">
                    <img class="featured-pic center-pic" src="/assets/htmlcss.jpg">
                  </div>
                  <div class="row">
                    <h4 class="featured-title">HTML &amp; CSS</h4>
                  </div>
                </div>
              </a>
              <a id="post_X" title="HTML &amp; CSS" href="#">
                <div class="col-md-4">
                  <div class="row">
                    <img class="featured-pic center-pic" src="/assets/htmlcss.jpg">
                  </div>
                  <div class="row">
                    <h4 class="featured-title">HTML &amp; CSS</h4>
                  </div>
                </div>
              </a>
              <a id="post_X" title="HTML &amp; CSS" href="#">
                <div class="col-md-4">
                  <div class="row">
                    <img class="featured-pic center-pic" src="/assets/htmlcss.jpg">
                  </div>
                  <div class="row">
                    <h4 class="featured-title">HTML &amp; CSS</h4>
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div class="item">
            <div class="col-md-10 col-md-offset-1">
              <a id="post_X" title="HTML &amp; CSS" href="#">
                <div class="col-md-4">
                  <div class="row">
                    <img class="featured-pic center-pic" src="/assets/htmlcss.jpg">
                  </div>
                  <div class="row">
                    <h4 class="featured-title">HTML &amp; CSS</h4>
                  </div>
                </div>
              </a>
              <a id="post_X" title="HTML &amp; CSS" href="#">
                <div class="col-md-4">
                  <div class="row">
                    <img class="featured-pic center-pic" src="/assets/htmlcss.jpg">
                  </div>
                  <div class="row">
                    <h4 class="featured-title">HTML &amp; CSS</h4>
                  </div>
                </div>
              </a>
              <a id="post_X" title="HTML &amp; CSS" href="#">
                <div class="col-md-4">
                  <div class="row">
                    <img class="featured-pic center-pic" src="/assets/htmlcss.jpg">
                  </div>
                  <div class="row">
                    <h4 class="featured-title">HTML &amp; CSS</h4>
                  </div>
                </div>
              </a>
            </div>
          </div>

        </div>
      </div>

      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>

    </div><!-- /.carousel -->
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <div class="btn-group">
        <a class="btn btn-default btn-lg" target="_blank" title="Like on Facebook" href="http://www.facebook.com">
          <i class="fa fa-thumbs-o-up fa-lg fb"></i>
        </a>
        <button class="btn btn-default btn-lg disabled">Like and Follow</button>
        <a class="btn btn-default btn-lg" target="_blank" title="Follow on Twitter" href="http://www.twitter.com">
          <i class="fa fa-twitter fa-lg tw"></i>
        </a>
      </div>
    </div>
  </div>

</div><!-- /.container -->