<!-- Search Field -->
<div class="container">

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div style="padding-top:150px;" class="row">
        <h1>Search U of C Textbooks</h1> 

          <%= form_tag(main_app.classified_posts_path, method: "get") do %>
            <div id="home-search" class="input-group input-group-lg">
              <input name="search_text" type="text" class="form-control ">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Search</button>
              </span>
            </div>
          <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <!-- Featured Carousel -->
      <div id="myCarousel" class="featured-carousel carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="item active">
            <% @posts.paginate(:page => 1, :per_page => 3).each do |post| %>
                <%= render partial: '/home/featured', locals: {post:post} %>
            <% end %>
          </div>

          <div class="item">
            <% @posts.paginate(:page => 2, :per_page => 3).each do |post| %>
                <%= render partial: '/home/featured', locals: {post:post} %>
            <% end %>
          </div>

          <div class="item">
            <% @posts.paginate(:page => 3, :per_page => 3).each do |post| %>
                <%= render partial: '/home/featured', locals: {post:post} %>
            <% end %>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="btn-group">
        <a class="btn btn-default btn-lg" target="_blank" title="Like on Facebook" href="http://www.facebook.com">
          <i class="fa fa-thumbs-o-up fa-lg fb"></i>
        </a>
        <button class="btn btn-default btn-lg disabled">Like and Follow</button>
        <a class="btn btn-default btn-lg" target="_blank" title="Follow on Twitter" href="http://www.twitter.com">
          <i class="fa fa-twitter fa-lg tw"></i>
        </a>
      </div>
    </div>
  </div>

</div><!-- /.container -->