<% if can?(:read, category) %>
<div class="col-md-10 col-md-offset-1">
  <div id='category_<%= category.id %>' class='category'>
    <h2><%= link_to forem_emojify(category.name), [forem, category] %></h2>
    <%= render "/forem/forums/listing", :category => category %>
  </div>
</div>
<% end %>
