<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>You received a message about your post ! <a href="http://beta.myunitrade.com">Click to respond</a></p>
</body>
</html>