.ad-full-pic {
	width:400px;
	height:400px;
	display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:20px;
}
.ad-panel {
	min-height:640px;
	margin-top:20px;
	text-align:left;
}
.btn-blue {
	background-color:#013861; 
	color:#FFFFFF;
	border:#013861;
}
.btn-blue:hover {
	background-color:#005899; 
	color:#FFFFFF;
	border:#013861;
}
.btn-login {
  margin-top:8px;
  color:#999999;
  border:#FFFFFF;
  background-color:#222222;
}
.btn-login:hover {
	background-color:#222222;
}
.btn-post {
	min-width:150px;
	text-align:center;
	margin-top: 10px;
	margin-bottom: 10px;
}
.carousel-indicators li {
	background-color: #013861;
}
.carousel-indicators .active {
  background-color: #013861;
}
.category-dropdown {
	font-size: 20px;
}
.featured-article-jumbotron {
	background-color:#FFFFFF
}
.featured-pic {
	height:200px;
	width:200px;
	margin-right:20px;
}
.home-link {
	position:relative;
	height:42px;
	width:42px;
	top:5px;
	margin-right:10px;
}
.field-title {
	padding-top:10px;
	padding-right:10px;
	font-size: 14px;
	font-variant: small-caps;
	text-shadow: 0 0 1px rgba(0,0,0,0.3);
}
.text-area {
	border: 3px solid ##013861;
	resize:none;
	min-width: 600px;
	min-height: 200px;
	font-size: 20px;
}
.text-field {
	min-width: 600px;
	font-size: 20px;
}
#new-post-background {
	background-color: #F2F2F2;
	min-height:600px;
	margin-top:10px;
	padding-left: 50px;
}
.span-ad-container {
	background-color:blue;
	margin-top:20px;
	width:640px;
	height:640px;
}
.span-ad-discription {
	background-color:white;
	width:600px;
	height:180px;
}
.span-ad-poster {
	background-color:blue;
	margin-top:20px;
	margin-left:20px;
	width:320px;
	height:640px;
}