.ad-frame {
	height:310px;
	padding:15px;
	position:relative;
	text-align: center;
}
.ad-frame:hover {
	background-color:#D8DBED;
}
.ad-container {
	margin-bottom:30px;
	background-color: #F2F2F2;
}
.ad-full-pic {
	width:400px;
	height:400px;
	display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:20px;
}
.ad-info {
	position:absolute;
	bottom:4px;
	margin-left:15px;
	text-align: left;
	color: #000;
}
.ad-panel {
	border-radius: 0;
	margin-top:20px;
	position:relative;
}
.blue {
	color: #013861;
}
.btn-back-to-top {
	position:fixed;
	bottom:10px;
	right:10px;
	z-index: 2;
}
.btn-blue {
	background-color:#013861; 
	color:#FFFFFF;
	border:#013861;
}
.btn-blue:hover {
	background-color:#005899; 
	color:#FFFFFF;
	border:#013861;
}
.btn-new-post {
	position:absolute;
	right:15px;
	top: 0px;
}
.btn-login {
  margin-top:8px;
  color:#999999;
  border:#FFFFFF;
  background-color:#222222;
}
.btn-login:hover {
	background-color:#222222;
}
.btn-post {
	min-width:150px;
	text-align:center;
	margin-top: 10px;
	margin-bottom: 20px;
}
#btn-search {
	color: #998D8A;
	background-color: #004070;
	border-color: #004070;
}
.carousel-indicators li {
	background-color: #013861;
}
.carousel-indicators .active {
  background-color: #013861;
}
.category-dropdown {
	font-size: 20px;
}
.category-name {
	font-size: 30px;
	margin:0px;
	padding:0px;
}
.center-pic {
	display:block;
	margin:auto;
}
.contact-seller {
	position:absolute;
	bottom:0px;
	left:20px;
}
.disc {
	font-size: 16px;
}
.disc-container {
	margin:20px;
	font-size:60px;
}
.featured-article-jumbotron {
	background-color:#FFFFFF
}
.featured-pic {
	max-height:200px;
	max-width:200px;
	padding: 15px;
	/*display:inline-block;
	vertical-align: middle;*/
}
.field-title {
	padding-top:10px;
	padding-right:10px;
	font-size: 14px;
	font-variant: small-caps;
	text-shadow: 0 0 1px rgba(0,0,0,0.3);
}
.form-title {
	text-align:center;
	padding-top:20px;
	margin:auto;
}
#grey-wrapper {
	background: #9DA5AF;
	background-color: #9DA5AF;
	border-bottom: 1px solid #013861;
	height: 160px;
	z-index: 2;
}
.home-link {
	position:relative;
	height:42px;
	width:42px;
	top:5px;
	margin-right:10px;
}
#info-container {
	min-height:800px;
	width:inherit;
	background-color: #F2F2F2;
}
#items-bought {
	float: left;
	padding-left: 10px;
	/*color: #000;*/
}
#items-listed {
	padding-right: 10px;
	border-right: 1px solid #c3c3c3;
	float: left;
	/*color: #000;*/
}
#items-sold {
	padding: 0 10px;
	border-right: 1px solid #c3c3c3;
	float: left;
	/*color: #000;*/
}
.text-area {
	resize:none;
	/*min-width: 600px;*/
	min-height: 200px;
	font-size: 20px;
}
.text-field {
	font-size: 20px;
	display:block;
	width:inherit;
}
.navbar-blue {
	background-color: #013861;
}
.navbar-blue .navbar-nav > .active {
  background: #013861;
  color: #FFFFFF;
  font-weight:bold;
}
.navbar-blue .navbar-nav > .active > a, 
.navbar-blue .navbar-nav > .active > a:hover, 
.navbar-blue .navbar-nav > .active > a:focus {
	background: #013861;
  color: #FFFFFF;
  font-weight:bold;
}
#navbar-blue-search {
	background-color: #004070;
	border-color: #013861;
	color: #FFFFFF;
}
#new-post-background {
	background-color: #F2F2F2;
	min-height:600px;
	margin:20px;
	padding:20px;
}
.pic-single {
	max-height: 450px;
	max-width: 450px;
}
.post-jumbotron {
	margin:20px;
	padding:15px;
	position:relative;
}
.post-name {
	padding:0px;
}
.post-row {
	margin-top:20px;
}
.sale-history {
	position: absolute;
	right: 20px;
	margin-top: 85px;
	font-size: 14px;
	color: rgb(95, 95, 95);
	float: left;
	display: block;
}
.span-ad-container {
	background-color:blue;
	margin-top:20px;
	width:640px;
	height:640px;
}
.span-ad-discription {
	background-color:white;
	width:600px;
	height:180px;
}
.span-ad-poster {
	background-color:blue;
	margin-top:20px;
	margin-left:20px;
	width:320px;
	height:640px;
}
#user-title {
	font-size: 25px;
	padding: 10px;
	border-bottom: 1px solid #013861;
}