$accent-color: #013861;
/*$background: #D7DCE0;*/
$background: #FFF;
$foreground: #FFF;

/*.body-pic {
  z-index: -1;
  position: absolute;
  width:100%;
  top:25%;
  padding:20px;
  opacity:.2;
}*/
h1 {
	font-size:300%;
	text-align:center;
	margin-top:0;
}
.ad-frame h2 {
	font-size:150%;
	text-align:center;
	margin:0;
	margin-top:10px;
	padding:0;
}
h4 {
	color:#333;
}
.ad-container {
	margin-left:10px;
	margin-bottom:10px;
}
.ad-frame {
	height:310px;
	padding:10px;
	text-align: center;
}
/*.ad-frame:hover {
	
}*/
.ad-full-pic {
	width:400px;
	height:400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:20px;
}
.ad-info {
	position:absolute;
	bottom:4px;
	margin-left:15px;
	text-align: center;
	color: #000;
}
.ad-panel {
	border-radius: 4px;
	margin-left:10px;
	border: 1px solid #013861;
}
.ad-panel .panel-heading {
	border-bottom: 1px solid #013861;
	height:50px;
}
.ad-panel > .panel-heading > p {
	float:left;
	margin-bottom:0!important;
	font-size:120%;
	padding-top:7px;
	/*padding-bottom:15px;*/
}
.blue {
	color: $accent-color;
}
.btn-back-to-top {
	position:fixed;
	bottom:10px;
	right:10px;
	z-index: 2;
}
.btn-blue {
	background-color:$accent-color;
	color:$foreground;
	border:$accent-color;
}
.btn-blue:hover {
	background-color:#004070; 
	color:$foreground;
	border-color:#004070;
}
.btn-group {
	margin-top:20px;
}
.btn-post {
	min-width:150px;
	text-align:center;
	margin-top: 10px;
	margin-bottom: 20px;
}
#btn-search {
	color: #CCC;
	background-color: #004070;
	border-color: $accent-color;
}
.btn-home-search {
	border:2px solid #004070; 
	border-left:none;
}
.btn-home-search:hover {
	border:2px solid #004070; 
	border-left:none;
	box-shadow: 0px 0px 22px 0px rgba(50, 50, 50, 0.4);
}
.caption {
	padding-top:0px!important;
	padding-left:10px;
	padding-right:10px;
	color:#333;
}
.carousel-control.left, .carousel-control.right {
	background-image: none;
	color:$accent-color;
}
.carousel-indicators li {
	background-color: $accent-color;
}
.carousel-indicators .active {
	background-color: $accent-color;
}
.category-dropdown {
	padding:5px;
}
.center-pic {
	display:block;
	margin:auto;
}
.col-centered {
	float: none;
	margin-left:auto;
	margin-right:auto;
}
.conversation-received, .conversation-sent {
	border-radius:4px;
}
.conversation-received {
	background-color: #E5E5E5;
	color:#000;
}
#conversation-scroll {
	height:410px;
	margin-bottom:10px;
	padding-left:15px;
	padding-right:15px;
	overflow-y:auto;
}
.conversation-sent {
	background-color: #1E93FD;
	color:$foreground;
}
#conversation-show {
	padding-right:15px;
}
.conversation-text {
	font-size: 100%;
	padding:10px;
}
.disc-container {
	margin-left:10px;
	margin-right:10px;
	margin-top:20px;
}
.grey-container {
	border-radius:10px;
	padding:20px;
	margin:40px;
}
.featured-carousel {
	margin:50px;
}
.featured-pic {
	max-height:230px;
	max-width:230px;
	box-shadow: 0px 0px 22px 0px rgba(50, 50, 50, 0.4);
}
.featured-pic:hover {
	box-shadow: 0px 0px 22px 0px rgba(50, 50, 50, 0.8);
}
.featured-title {
	font-size:200%;
	text-align:center;
}
.field-title {
	padding-top:10px;
	padding-right:10px;
	font-size: 14px;
	font-variant: small-caps;
	text-shadow: 0 0 1px rgba(0,0,0,0.3);
}
.form-title {
	text-align:center;
	padding-top:20px;
	margin:auto;
}
#grey-background {
	background-color: #F5F5F5;
	padding:20px;
	border:1px solid #013861;
	border-radius:4px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:20px;
}
.home-link {
	position:relative;
	height:42px;
	top:5px;
	margin-right:10px;
}
i.fb {
	color: #3b5998;
	margin-right:4px;
	margin-left:4px;
}
i.tw {
	color:#00aced;
}
#info-container {
	min-height:800px;
	width:inherit;
	background-color: #F5F5F5;
}
.input-mini {
	width:60px;
	background-color:#004070;
	border-color:$accent-color;
	text-align:center;
	border: 0;
	padding: 5px;
	color:$foreground;
}
.input-mini:focus {
	color:$foreground;
	box-shadow:0px 0px 5px #6192D1;
	-webkit-box-shadow: 0px 0px 5px  #6192D1;
	-webkit-padding: 1px;
	border:transparent;
}
.input-mini:visited {
	color:$foreground;
}
#login {
	color:#CCC;
}
#login:hover {
	color:$foreground;
}
#message-user {
	margin-bottom:0;
}
.navbar-blue {
	background-color: $accent-color;
}
.navbar-blue .navbar-nav > li > a {
	color:#CCC!important;
}
.navbar-blue .navbar-nav > .active > a, 
.navbar-blue .navbar-nav > .active > a:focus {
	background: $accent-color;
	color: $foreground!important;
	font-weight:bold;
	background-color:#004070;
}
.navbar-blue .navbar-nav > li > a:hover {
	background-color:#003C69!important;
}
#navbar-blue-search {
	background-color: #004070;
	border-color: $accent-color;
	color: $foreground;
}
.navbar-inner {
	text-align: center;
}
/*Gross fix to dropdown flashing black when you click it. Dayum*/
.navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
	background-color: #004070!important;
	color: white;
}
.nav-tabs > li > a,
.nav-tabs > li > a:active {
	color:#000!important;
}
.no-padding {
	padding: 0 !important;
}
.pagination-custom a {
	font-size:115%;
	background-color: $accent-color!important;
	border:none!important;
	color:#CCC!important;
}
.pagination-custom .active a {
	color:$foreground!important;
	font-weight:bold!important;
	background-color:#004070!important;
}

.pic-single {
	max-height: 450px;
	max-width: 450px;
	box-shadow: 8px 7px 22px 0px rgba(50, 50, 50, .5);
}
.post-jumbotron {
	margin:20px;
	padding:15px;
	position:relative;
}
.post-name {
	padding:0px;
}
.post-row {
	margin-top:20px;
}
.price-box {
	padding:10px;
	display:block;
	text-align: center;
}
.price-search {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  color:#CCC;
}
#profile-container {
	background-color:#F5F5F5;
	border:1px solid #DDD;
	border-radius:4px;
	padding:15px;
}
#profile-container > .profile-container-inner {
	background-color:$foreground;
	border-left:1px solid #DDD;
	border-right:1px solid #DDD;
	border-bottom:1px solid #DDD;
}
#profile-counters {
	text-transform:uppercase;
	vertical-align: baseline;
	margin-top:20px;
	margin-left:20px;
	margin-right:20px;
}
#profile-counters .profile-count-num {
	font-size:30px;
}
#profile-counters td {
	padding-right: 20px;
}
#profile-messages {
	height:650px;
	padding-top:15px;
	padding-left:15px;
	padding-right:15px;
}
#profile-picture {
	margin-top:10%;
}
.sale-history {
	position: absolute;
	right: 20px;
	margin-top: 85px;
	font-size: 14px;
	color: rgb(95, 95, 95);
	float: left;
	display: block;
}
.search-field {
	color:#000;
}
.search-field:focus {
	box-shadow: 0px 0px 22px 0px rgba(50, 50, 50, 0.6);
}
.section-title {
	text-align:center;
	margin-bottom:50px;
	font-weight:bold;
}
.span-ad-container {
	background-color:blue;
	margin-top:20px;
	width:640px;
	height:640px;
}
.span-ad-discription {
	background-color:white;
	width:600px;
	height:180px;
}
.span-ad-poster {
	background-color:blue;
	margin-top:20px;
	margin-left:20px;
	width:320px;
	height:640px;
}
tr {
	padding-top:50px;
}
.transparent {
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.5;
}
.thumbnail {
	text-align:center;
	border:none;
	background:transparent;
}
.thumbnail .caption p {
	color:#333333;
}
.thumb-pic {
	font-size:100px;
}
#user-title {
	font-size: 25px;
	padding: 10px;
	border-bottom: 1px solid $accent-color;
}



/*...............*/
#filter-box {
	width:150px;
	position:fixed;
}

.menu {
	width: 100%;
}
.menu-list {
	background-color: $background;

	font-size: 16px; 
	padding-left: 0;
	padding-top:5px;
	padding-bottom:5px;
	border-radius:4px;
  border: 1px solid $accent-color;
}
.menu-list > li {
	display: block;

}
.menu-list > li > a {
	font-family: 'Raleway', sans-serif;
	padding: 10px 0 10px 10px; 
	text-decoration: none; 
	display: block;
	color:black;
}
.menu-list > .active > a {
	font-weight:bold;
	background-color:#F5F5F5;
}
.menu-list > li > a:hover {
	color:$foreground;
	background-color:#003C69;
}