<p>Welcome <%= @email %>!</p>

<p>Click on the link below to verify your MYUNITRADE account e‐mail address</p>
<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
<p>Verifying your email will finalize your account and enable you to receive updates and 
notifications from MyUniTrade, keeping you up to date. </p>
<p>Sincerely,</p
<p>The MyUniTrade Team.</p>


