<!-- Forum Header -->
<div id="page-header">
	<div class="col-md-3 col-md-offset-2">
		<div id="name-container">
			<div id="name">
				Forum Center
			</div>
		</div>
	</div>
</div>
<!-- .forum-header -->

<%= render @categories %>

<br>
<footer id='admin_link'>
	<% if forem_admin? %>
	<%= link_to t("area", :scope => "forem.admin"), forem.admin_root_path %>
	<% end %>
</footer>
