<div id="profile-profile">
  <!-- <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-8">

        Account Owner Viewing
        <form role="form">
          <div id="item-title" class="form-group">
            <h2 class="field-title">First Name</h2>
            <input type ="text" class="form-control" placeholder="Big">
          </div>
          <div id="item-title" class="form-group">
            <h2 class="field-title">Last Name</h2>
            <input type ="text" class="form-control" placeholder="Dick">
          </div>

          <h2 class="field-title">School</h2>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-profile" data-toggle="dropdown">
              Select your University
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-profile">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">U of C</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">UBCO</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">U of A</a></li>
            </ul>
          </div>

          <div id="item-title" class="form-group">
            <h2 class="field-title">Email</h2>
            <input type ="text" class="form-control" placeholder="big.dick@dicks.com">
          </div>
          <div id="item-title" class="form-group">
            <h2 class="field-title">Password</h2>
            <input type ="text" class="form-control">
          </div>
        </form>

      </div>
      <div class="col-lg-4">
        <div id="profile-picture">
          <img class="featured-pic center-pic" src="/assets/htmlcss.jpg">
          <div style="margin-top:15px;" class="row">
            <div class="col-md-12 text-center">
              <div class="btn-group">
                <a class="btn btn-default btn-lg" target="_blank" title="View Facebook Profile" href="http://www.facebook.com">
                  <i class="fa fa-facebook fa-lg fb"></i>
                </a>
                <a class="btn btn-default btn-lg" target="_blank" title="View Twitter Profile" href="http://www.twitter.com">
                  <i class="fa fa-twitter fa-lg tw"></i>
                </a>
              </div>
              <h5>Connect your social media</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-6">
      <div class="pull-right">
        <div id="profile-picture">
          <img class="featured-pic center-pic" src="/assets/htmlcss.jpg">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h2>Kevin Eger</h2>
      <h3 style="margin:0; padding:0;">University of Calgary</h3>
      <div class="row">
        <div id="profile-counters">
          <table>
            <tr>
              <td>
                <span class="profile-count-num">4</span>
                <br>
                Posts
              </td>
              <td>
                <span class="profile-count-num">2</span>
                <br>
                Sold
              </td>
            </tr>
          </table>
        </div>
      </div>
          <div class="row">
              <div style="margin:20px;" class="btn-group">
                <a class="btn btn-default btn-lg" target="_blank" title="View Facebook Profile" href="http://www.facebook.com">
                  <i class="fa fa-facebook fa-lg fb"></i>
                </a>
                <a class="btn btn-default btn-lg" target="_blank" title="View Twitter Profile" href="http://www.twitter.com">
                  <i class="fa fa-twitter fa-lg tw"></i>
                </a>
              </div>
          </div>
    </div>
  </div>



</div>