<div class="container">
	<div id="profile-container">
		<h3>Kevin Eger</h3>
		<ul class="nav nav-tabs" role="tablist">
			<li class="active"><a href="#">Posts</a></li>
			<li><a href="#">Profile</a></li>
			<li><a href="#">Messages</a></li>
			<li class="pull-right"><%= button_to 'Create a Post',new_classified_post_path, :id=> "", :class=> "btn btn-md btn-blue", :method=> "get" %></li>
		</ul>

		<div class="profile-container-inner">
			<table class="table table-striped">
				<thead>
						<tr>
							<th>Date</th>
							<th>Title</th>
							<th>Discription</th>
							<th>Edit</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>01/08/2014</td>
							<td>Kevin's Book</td>
							<td>This is the discription of my book. It is a really good book. It has a really long discription so I can test the table. This is the discription of my book. It is a really good book. It has a really long discription so I can test the table. This is the discription of my book. It is a really good book. It has a really long discription so I can test the table.</td>
							<td>Edit</td>
							<td>Delete</td>
						</tr>
						<tr>
							<td>01/08/2014</td>
							<td>Kevin's Book</td>
							<td>This is the discription of my book. It is a really good book. It has a really long discription so I can test the table. This is the discription of my book. It is a really good book. It has a really long discription so I can test the table. This is the discription of my book. It is a really good book. It has a really long discription so I can test the table.</td>
							<td>Edit</td>
							<td>Delete</td>
						</tr>
					</tbody>
			</table>
		</div>

<!-- 		<div class="col-md-3">
			<%= button_to 'Create a posting',new_classified_post_path, :id=> "", :class=> "btn btn-md btn-blue btn-account", :method=> "get" %>
			<button class="btn btn-md btn-blue btn-account">Account Info</button>
		</div> -->
	</div>
</div>

