<div id="search-field" class="pull-right">
  <%= form_tag(main_app.classified_posts_path, method: "get", :class => 'navbar-form') do %>
    <div class="input-group">
      <%= text_field_tag(:search_text, nil,:id=>'navbar-blue-search',:class=>'form-control', :placeholder=>'Search') %>
      <div class="input-group-btn">
        <button class="btn btn-default" id="btn-search" type="submit"><i class="glyphicon glyphicon-search"></i></button>
      </div>
    </div>
  <% end %>
</div>